:root {
  --primary-color: rgb(234, 239, 244);
  --primary-bg: #484349;
  --primary-bg-gradient: linear-gradient(0deg, #191518 0%, #272229 100%);
}

* {
  color: var(--primary-color);
  font-family: 'Yusei Magic', sans-serif;
}

.comic-relief-regular {
  font-family: 'Comic Relief', system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: 'Comic Relief', system-ui;
  font-weight: 700;
  font-style: normal;
}

.yusei-magic-regular {
  font-family: 'Yusei Magic', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.particles {
  position: absolute;

  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-name {
  font-size: 30pt;
  line-height: 10px;
}
.subtitle {
  font-size: 20pt;
  line-height: 10px;
}

.header {
  width: 90%;
  max-width: 600px;
}

.box {
  background: linear-gradient(0deg, #29242f 0%, #3b3543 100%);
  padding: 1em 2em 1em 2em;
  border-radius: 20px;
  box-shadow:
    0 0 3px #e9e0ea6d,
    0px 5px 10px #191518;
  margin: 1em;
}

.redBox {
  background: linear-gradient(0deg, #2c1414 0%, #442d27 100%);
  padding: 1em 2em 1em 2em;
  border-radius: 20px;
  box-shadow:
    0 0 3px #e9e0ea6d,
    0px 5px 10px #191518;
  margin: 1em;
}

@media (min-width: 720px) {
  .hlist {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
  button {
    cursor: pointer;
    font-size: 16pt;
    background: var(--primary-bg-gradient);
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em 0.5em 1em;
    line-height: 1em;
    margin: 0.5em;
    transition: 0.1s ease-out;
    box-shadow:
      0 0 3px #e9e0ea6d,
      0px 5px 10px #191518;
  }
  button:hover {
    font-size: 18pt;
    transition: 0.1s ease-out;
    box-shadow:
      0 0 2px #e9e0ea6d,
      0px 5px 15px #191518,
      0 -5px 10px #e89dd44f;
  }
}
@media not (min-width: 720px) {
  .hlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    flex-wrap: nowrap;
  }
  button {
    width: 90%;
    cursor: pointer;
    font-size: 16pt;
    background: var(--primary-bg-gradient);
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em 0.5em 1em;
    line-height: em;
    margin: 0em;
    transition: 0.1s ease-out;
    box-shadow:
      0 0 3px #e9e0ea6d,
      0px 5px 10px #191518;
  }
  button:hover {
    font-size: 18pt;
    transition: 0.1s ease-out;
    box-shadow:
      0 0 2px #e9e0ea6d,
      0px 5px 15px #191518,
      0 -5px 10px #e89dd44f;
  }
}

.active {
  background: linear-gradient(0deg, #292936 0%, #404f6b 100%);
  transition: 0.5s ease-out;
  font-weight: bold;
  text-shadow: 0 2px 3px #1c2021;
}

.vlist {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.1s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
b{
  color: rgb(235, 184, 235);
  text-shadow: 0 0 5px plum;
  
}

input {
  color: plum;
  accent-color: plum;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: -200px 0 0 200px #0056b3;
}
input[type="range"]::-moz-range-progress {
  box-shadow: -200px 0 0 200px #80bb73;
}
/* input[type=radio] {

} */
